@model ToerreTumblr.Models.User

@{
    Layout = "";    
}


<div class="login">
    <header class="login-header">
        <span class="text">LOGIN</span>
        <span class="loader"></span>
    </header>

    <form class="login-form" asp-action="Login">
        <input class="login-input" asp-for="Login" type="text" placeholder="Username"/>
        <input class="login-input" asp-for="Password" type="password" placeholder="Password"/>
        <button class="login-btn" type="submit">login</button>

    </form>
    
</div>
<div>
    <p>New user? <a asp-action="Register">click here to register!</a></p>
</div>


