@model ToerreTumblr.ViewModels.EditCommentViewModel

@{
    ViewData["Title"] = "EditComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditComment</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.Id" />
            <input type="hidden" asp-for="Comment.Author" />
            <input type="hidden" asp-for="Comment.AuthorId" />
            <input type="hidden" asp-for="Post.SourceId"/>
            <input type="hidden" asp-for="Post.Id"/>
            <input type="hidden" asp-for="Post.SharedType"/>

            <div class="form-group">
                <label asp-for="Comment.Text" class="control-label"></label>
                <input asp-for="Comment.Text" class="form-control" />
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowFeed">Back to feed</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
