@model List<User>

@{
    ViewData["Title"] = "GetUsers";
}

<h1>GetUsers</h1>

<div>
    <h4>Users</h4>
    @foreach (var user in Model)
    {
        <p>@user.Name</p>
        <p>@user.Id</p>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
