@model List<User>

@{
    ViewData["Title"] = "GetUsers";
}

<h1>GetUsers</h1>

<div>
    <h4>Users</h4>
    @foreach (var user in Model)
    {
        <p>@user.Name</p>
        <a asp-action="FollowUser" asp-route-id="@user.Id">Follow</a> @:|
        <a asp-action="BlockUser" asp-route-id="@user.Id">Block</a> 
        <p>@user.Id</p>
    }
    
</div>
