@model ToerreTumblr.ViewModels.IndexCircleViewModel

@{
    ViewData["Title"] = "Circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Circle</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Options
        </th>

    </tr>
    </thead>
    <tbody>
    
        @foreach (var item in Model.Circles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Members">Members</a> | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
