@model ToerreTumblr.ViewModels.CircleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Circle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Circle.Id" type="hidden" class="form-control" />
            
        <div class="form-group">
            <label asp-for="Circle.Name" class="control-label"></label>
            <input asp-for="Circle.Name" class="form-control" />
            <span asp-validation-for="Circle.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Circle.UserIds" class="control-label"></label>
            
            @foreach (var user in Model.Users)
            {
                <p>@Html.DisplayName(user.Name)</p>
            }
        </div>
        

        <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Circle">Back to List</a>
</div>

