@using Microsoft.Extensions.DependencyInjection
@model ToerreTumblr.ViewModels.CircleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<h4>Circle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="control-label">Circle members (comma seperate)</label>

                
                <div class="row">
                    <div class="col-10">
                        <input asp-for="Users" class="form-control" value=""/>
                        <span asp-validation-for="Users" class="text-danger"></span>
                    </div>
                    <div class="col-1">
                        <span>Add</span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
    <div class="col-md-8">
        <h4>Users:</h4>
        @foreach (var username in Model.Users)
        {
            <p>@username</p>
        }
    </div>
</div>

<div>
    <a asp-action="Circle">Back to List</a>
</div>


